body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
}

.auth-container {
  max-width: 370px;
  margin: 70px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: #3b49df;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #2f3ccc;
}

.switch {
  text-align: center;
  margin-top: 10px;
}

.switch a {
  color: #3b49df;
  text-decoration: none;
}

.password-rules {
  font-size: 14px;
  margin-top: 10px;
  color: #666;
}

/* HOME PAGE */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.logout-btn {
  background: #ff4d4d;
  padding: 10px 15px;
  border-radius: 7px;
  color: white;
  border: none;
}

.welcome {
  text-align: center;
  margin: 40px 0;
}

.products {
  padding: 20px;
}

.products .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.item {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
  text-align: center;
}

.item img {
  width: 100%;
  border-radius: 10px;
}
